

.imag1{
    margin-left: 280px;
  
}
h1{
    margin-top:-60px;
    margin-left: 470px;
    font-family:Arial;
    font-size:20px;
    }

p{
      margin-top:-10px;
    margin-left: 470px;
    font-family:Arial;
    font-size:11px;
    }

.pesquisa{
    margin-left: 280px;
}

h4{
    font-size:12px;
    font-family:Arial;
    margin-left: 280px;
}
.texto{
    font-size:15px;
    font-family:Arial;      
}
.hoteis{
    margin-top:-15px;
}

.img2{
    margin-top:30px;
}
.img3{
    margin-top:-70px;
    margin-left: 470px;
}
.texto{
    margin-top:150px;
    margin-left: 280px;
}
.destino{
    margin-top:10px;
    margin-left: 270px;

}
.natal{
    margin-left: 270px;
}
.internacional{
    margin-top:20px;
    margin-left: 270px;
}
.rodape{
    margin-top:40px;
}
.populares{
    margin-top:40px;
}
.maisinternacional{
    margin-left: 250px;
}
.funciona{
    margin-top:40px;
}
.passe{
    margin-left: 430px;
}
